@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Aladin&family=Bebas+Neue&family=Fredoka+One&family=Kaushan+Script&family=Monoton&family=Pacifico&family=Pattaya&family=Roboto:ital,wght@1,900&family=Suez+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#fff;
    --blue:#9c08f1f5;
    --red:#df09df;
    --pink:#570885;
    --shadow:rgba(0,0,0,0.25);
}
html,
body{
    overflow: hidden;
    background: #ce749e;
    
    font-weight: bolder;
}
.box{
    top:calc(50% - 10vmin);
    left:calc(50% - 10vmin);
    width:20vmin;
    height: 20vmin;
    position: absolute;
    background-color: var(--pink);
    background-image: radial-gradient(
        circle at 50% 10%,
        var(--blue) 5%,
        transparent 80%
    ),
    radial-gradient( circle at 50% 90%, var(--red) 25%,transparent);
    border-radius: 3vmin;
    box-shadow: 0 0 6vmin var(--shadow);
    animation: boxMove 2s linear infinite;

}
@keyframes boxMove{
    0%{
        transform: scale(var(--initialScale)) rotate(var(--initialAngle));
    }
    100%{
        transform: scale(var(--endScale)) rotate(var(--endAngle));
    }
}
.box0{
    --initialScale:0.3;
    --endScale:1;
    --initialAngle:+10deg;
    --endAngle:+00deg;
}
.box1{
    --initialScale:1;
    --endScale:1.5;
    --initialAngle:+0deg;
    --endAngle:-10deg;
}
.box2{
    --initialScale:1.5;
    --endScale:2;
    --initialAngle:-10deg;
    --endAngle:-20deg;
}
.box3{
    --initialScale:2;
    --endScale:3;
    --initialAngle:-20deg;
    --endAngle:-25deg;
}
.box4{
    --initialScale:3;
    --endScale:4;
    --initialAngle:-25deg;
    --endAngle:-30deg;
}
.box5{
    --initialScale:4;
    --endScale:5;
    --initialAngle:-30deg;
    --endAngle:-40deg;
}
.box6{
    --initialScale:5;
    --endScale:6.5;
    --initialAngle:-40deg;
    --endAngle:-50deg;
}
.box7{
    --initialScale:6.5;
    --endScale:8;
    --initialAngle:-50deg;
    --endAngle:-60deg;
}
.box8{
    --initialScale:8;
    --endScale:10;
    --initialAngle:-60deg;
    --endAngle:-70deg;
}
.box9{
    --initialScale:10;
    --endScale:14;
    --initialAngle:-70deg;
    --endAngle:-85deg;
}
.box10{
    --initialScale:14;
    --endScale:20;
    --initialAngle:-85deg;
    --endAngle:-99deg;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
     }
}
.box0{
    animation:boxMove 4s linear infinite, show 4 linear infinite;

}

.title{
    position: absolute;
    top:50%;
    font-family: "Fredoka One";
    left: 50%;
    letter-spacing: 5px;
    width: 20vmin;
    height: 20vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 20vmin;
    transform: translate(-50%,-50%);

}

.title::before{
    content: '';
    display: block;
    position: absolute;
    width: 30vmin;
    height: 15vmin;
    top:45%;
    border-radius: 50%;
    box-shadow: 0 2vmin 0 -0.75vmin;
}