@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
    body {
      background:url("../image/bg.jpg");
      font-family: 'Open Sans', arial, sans-serif;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      
      
    }
  
  .container {
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  .myRightCtn {
    position: relative;
    background-image: linear-gradient(45deg, #f046ff, #8257b4);
    border-radius: 25px 0px 25px 0px;
    height: 100%;
    padding: 25px;
    color: #0e0d0e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myRightCtn p{
      font-size: 1.3rem;
  }
  .myLeftCtn {
    position: relative;
    background:transparent;
    border-radius: 25px 0px 25px 0px;
    height: 100%;
    padding: 20px;
    padding-left: 38px;
  }
  .myLeftCtn header {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: Reggae One;
    color: #f046ff;
  }
  .row{
  height: 100%;
  }
  label{padding: 0px;}
   small{
    color: #fff;
    font-weight: bolder;
  }
  .myCard {
    position: relative;
    background:rgba(237, 213, 243, 0.1999);
    height: 100%;
    filter:opacity(50px);
    border-radius: 25px;
    
  } 
  .myRightCtn header {
    color: #fff;
    font-size: 3.2rem;
    font-family: Reggae One;
    
  }
  .box {
    position: relative;
    margin: 5px;
  } 
  .myLeftCtn .myInput {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  }
  .myLeftCtn .myInput:focus {
    outline: none;
  } 
  .myForm {
    position: relative;
    margin-top: 25px;
  } 
  .myLeftCtn .butt {
    background: linear-gradient(45deg, #bb36fd, #8257b4);
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-weight: bolder;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  } 
  .myLeftCtn .butt:hover {
    background:  linear-gradient(to right,#001,#000 );
    color:#ffffff;
    font-weight: bolder;
  }
  .myLeftCtn .butt:focus {
    outline: none;
  } 
  .myLeftCtn .fas {
    position: relative;
    color: #c036cc;
    left: 36px;
  } 
  .butt_out {
    background: linear-gradient(45deg, #3d49b4, #83059c);
    color: #fff;
    width: 135px;
    font-weight: bolder;
    border: 2px solid#fff;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  } 
  .butt_out:hover {
    border: 2px solid#eecbff;
    background: #272626;
  } 
  .butt_out:focus {
    outline: none;
  }
  .social-media{
      margin-top: 18px;
      display: flex;
      justify-content: center;
  }
  .social-icon{
      display: flex;
      height: 46px;
      width: 46px;
      font-size: 1.3rem;
      margin:0 0.45rem;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-radius: 50%;
      transition: all 0.5s;
      border: 2px solid    #fdfcfc;
      color:#000;
  }
  .social-icon:hover {
    display: flex;
    height: 46px;
    width: 46px;
    font-size: 1.3rem;
    margin:0 0.45rem;
    justify-content: center;
    color:#f8f2f2;
    border: 2px solid  #c036cc;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.5s;
  }
  .col-md-6{
    padding-right: 13px;
    padding-left: 10px;
  }
  .already{
    margin-top: -5px;
  }
  .already p{
    padding: 0px;
    color: #faf4f4;
    font-weight: bold;
    font-size: smaller;
  }
  .already a{
    background:  linear-gradient(to right,#9132c9,#d80298 );
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
    padding: 1px 5px 1px 5px;
    font-weight:bolder;
    font-size:1.23rem;
    text-decoration: none;
  
  }
  .already a:hover {
    background: #fff;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
  }

  @media(max-width:375px){
    .myCard {
      position: relative;
      background:rgba(237, 213, 243, 0.1999);
      height: 100%;
      filter:opacity(50px);
      border-radius: 25px;
      top:-30px;
      
    } 
  }
  @media(max-width:415px){
    .myCard {
      position: relative;
      background:rgba(237, 213, 243, 0.1999);
      height: 100%;
      filter:opacity(50px);
      border-radius: 25px;
      top:-55px;
      
    } 
  }